.root {
  li {
    display: inline-block;

    a {
      text-align: center;
      cursor: pointer;
      width: 40px;
      line-height: 16px;
      padding: 10px;
      border: 1px solid #fe5f1e;
      border-radius: 30px;
      margin-right: 7px;
      display: inline-block;
      color: #fe5f1e;

      &:hover {
        background-color: #fe5f1e;
        color: #fff;
      }
    }
  }

  :global {
    .selected {
      a {
        background-color: #fe5f1e;
        color: #fff;
      }
    }
  }
}
